<h2 class="header">About Me</h2>
<div class="aboutme">This is me: </div>
<img src='styles/stylish.jpg' width='200' height='300'  position= 'center' 'center' onmouseover="this.src='styles/fun.jpg';" onmouseout="this.src='styles/stylish.jpg'"/>
<div class="aboutme">I am therapist turned junior developer. I enjoy language, solving puzzles, comic books, video games, and books without pictures as well. I want to make a difference in the world and I hope to use my skills to make the world a better place, one line of code at a time.</div>
<div>I have also answered some questions more in depth on my <a href="#/blog">blog</a></div>
<div id="images"></div>


