<h2 class="header">Current Projects</h2>
<div class="paragraph">
<div>What am I currently working on?</div>
<div>Currently I am working on a wedding application that utilizes an Angular front-end that stores pictures in Amazon Web Services.  </div>
</br>
<div>What are you reading?</div>

<div><a href="http://a.co/6DLoZep">Lovecraft Country</a>, a novel that marries the horrors of Jim Crow America in the 1950's with Lovecraftian horror.</div>
</br>
<div>What are you playing?</div>

<div>I decided to dust off the old Gamecube because I realized I never beat <a href="https://amzn.com/B00176ZDQW">Super Mario Sunshine</a></div>
</div>