<h2 class="header">Blog</h2>

<div>I get asked a lot of questions concerning my background.  This should help to clarify:</div>
<ul>
	<li>Why did you leave your previous career?</li>
	<ul>
		<li>Without breeching confidentiality?  I don't think that the career choices I made as a teenager and a young adult were sustainable as I grew older.  I learned a lot about people, statistics, and how to talk to almost everyone.  I also learned to do what you enjoy, which is why I went into software.</li>
	</ul>
	<li>What are you reading?</li>
		<ul>
		<li>Right now, I am reading Ready Player One by Ernest Cline and Neuromancer by William Gibson</li>
	</ul>
<li>
	What video games do you like?
</li>
<ul>
		<li>I finally beat Legend of Zelda II, Link's Adventure on 8/20/16. It only took me since January 14, 1987 to beat it. Otherwise, I love the  Metal Gear Solid series, pretty much all of Nintendo, Kingdom Hearts, and Ratchet & Clank.  </li>
	</ul>
<li>
	Do you like Science Fiction/Fantasy?
</li>
<ul>
		<li>Yes.</li>
	</ul>
<li>
	What are your thoughts on...
</li>
<ul>
		<li>How about you email me.  My email is Markzawill@gmail.com and I am pretty friendly (the last remnant of my time as a mental health counselor) and who doesn't love getting friendly emails? </li>
	</ul>
</ul>