<H2>Psychology</H2>

<div>I graduated from Nashville Software School in June of 2016.  Here are a few of the things that I was involved in:</div>

<ul>
	<li><a href="bok/">B.OK (front-end capstone)</a></li>
	<li><a href="https://github.com/MarkZaWill/b-ok">B.OK GitHub</a></li>
	<li><a href="">Pickture (back-end capstone)</a></li>
	<li><a href="https://github.com/MarkZaWill/Pickture">Pickture GitHub</a></li>
	
	<li><a href="https://github.com/MarkZaWill/PicktureClient">Pickture Client GitHub</a></li>
</ul>