<H2>Psychology</H2>

<div>I graduated from University of South Alabama with a degree in Applied Psychology in 2012. Here are a few of the highlights of the publications I was involved in:</div>

<ul>
	<li>Langhinrichsen-Rohling, J., Klibert, J., & Williams, M. (2011). Gender considerations in college students’ suicidal behavior. In D. A. Lamis & D. Lester (Eds.), Understanding and preventing college student suicide. Springfield, IL: Charles C. Thomas.</li>
	<li>Selwyn, C., McCullars, A., Lamport, D., Williams, M., Wolford, C., Misra, T., Langhinrichsen-Rohling, J., Mandracchia, J.T., & Smith, P.N. (April, 2012). “Psychopathy and Suicide Attempts in Male Prison Inmates.” Poster presented at the annual convention of the American Association of Suicidology, Baltimore, MD. </li>
	<li>Wolford, C., Williams, M., Lamport, D.,  McCullars, A., Selwyn, C., Misra, T., Langhinrichsen-Rohling, J., Mandracchia, J.T., & Smith, P.N. (April, 2012). “Psychopathy and depression interact to predict suicide ideation in male prison inmates.” Poster  presented at the annual convention of the American Association of Suicidology, Baltimore, MD.</li>
	<li>Williams, M., Selwyn, C.,  McCullars, A., Selwyn, C., Nguyen, M, &  Langhinrichsen-Rohling, J. (Febrauary, 2012). “The concerns still linger.” Poster presented at the annual convention of the Southeastern Psychological Association, New Orleans, Lousiana.</li>
</ul>