<h1 class="header">Mark Z Williams</h1>
<h2 class="header">Full-Stack Developer</h2>
<h3 class="header">Welcome!</h3>

<div class="centerAlign">
<a href="#/dev"><button>Software Developer</button></a>
<a href="#/psych"><button>Psychology</button></a>
<a href="#/about"><button>About Me</button></a>
<a href="#/current"><button>Current Projects</button></a>
</div>


<div>
<a class="twitter-timeline" data-theme="dark" data-link-color="#2B7BB9" href="https://twitter.com/AmaznSpiderMark">Tweets by AmaznSpiderMark</a> 
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<a class="twitter-timeline" data-dnt="true" data-theme="dark" data-link-color="#2B7BB9" href="https://twitter.com/AmaznSpiderMark">Tweets by AmaznSpiderMark</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

