
<!DOCTYPE html>

<!--
  Google HTML5 slide template
  Authors: Luke Mahé (code)
           Marcin Wichary (code and design)
           
           Dominic Mazzoni (browser compatibility)
           Charles Chen (ChromeVox support)
  URL: http://code.google.com/p/html5slides/
-->

<html>
  <head>
    <title>Front-End Capstone Presentation</title>

    <meta charset='utf-8'>
    <script
      src='http://html5slides.googlecode.com/svn/trunk/slides.js'></script>
  </head>
  
  <style>
    /* Your individual styles here, or just use inline styles if that’s
       what you want. */
    
    
  </style>

  <body style='display: none'>

    <section class='slides layout-regular template-default'>
      
      <!-- Your slides (<article>s) go here. Delete or comment out the
           slides below. -->
        
        
      

      <article class="nobackground">
        <h1>
          Be.Ok
          <br>
          (Because it will be.)*
        </h1>
        <p>
          Mark Z Williams
          <br>
         April 5th, 2016
        </p>
      </article>
      
      <article class="nobackground">
        <h3>
          Project Goals:
        </h3>
        <ul>
          <li>
           To create an easy application to provide coping skills
          </li>
          <li>
            To add, delete, and change coping skills as needed. your own coping skills
          </li>
          <li>
            To learn AngularFire and create sweet API induced magic.
          </li>
        </ul>
      </article>

      <article class="nobackground">
        <h3>
          Demo
        </h3>
        <p>
          <a href="http://localhost:8080/#/">Time for a live demo!</a> 
        </p>
      </article>

      <article class="nobackground">
        <h3>
          Lessons Learned:
        </h3>
        <ul>
          <li>
            Build a wheel, then a bike, then a motorcycle, then a car.
          </li>
          <li>
            Get plenty of sleep
          </li>
          <li>
            Ask for help.  Your hubris will be your undoing.
          </li>
        </ul>
      </article>

      
      <article class="nobackground">
        <h3>
          Thank you!
        </h3>
        
        <p>
        Questions?
        </p>
        <ul>
          <li>
            <a href='http://www.google.com'>markzawill@gmail.com</a>
          </li>
          <li>
           <a href="https://youtu.be/skUJ-B6oVDQ">Shortcut to Best Way to Solve Coding issue</a>
          </li>
          <li>
            <a href='https://github.com/MarkZaWill/b-ok'>github.com/MarkZaWill/b-ok</a>
          </li>
        </ul>
      </article>

    </section>

  </body>
</html>