 body {
/* 	background-image: url(http://previews.123rf.com/images/kritchanut/kritchanut1211/kritchanut121100142/16438149-Old-woven-wood-pattern-lomo-Stock-Photo-texture-mat-rattan.jpg);
*/ 	background-repeat: no-repeat;
 	background-size: cover;
 }

.centerAlign {
	text-align:center;
	margin-right: 2px 3px;
}
.rightAlign{
	text-align: right;
	margin-right: 5px;
}
 #images{
 	position: center;
 }

 .header {
 	text-align: center;
 	font-size: 20px;
 }

 .paragraph {
 	margin: 2em;
 	margin-right: 5px;
 	padding: 5px;
 }

 .navBar {
 	background-color: lightgrey;
 }

.link{
	
	float:left;

}

 .linky {
 	
	display: inline;
	margin-left: 30px;
	float: right;
	clear: all;
 }